---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>
  <p>I'm a scientist with a background in theoretical physics and machine learning. Currently, I am finishing my physics PhD at Stony Brook University and conducting independent ML research. Previously, I spent several years as an ML engineer building and shipping production-grade ML systems.
  </p>
</BaseLayout>

