---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>
  <p>I'm a scientist with a background in theoretical physics and machine learning. Currently, I am finishing my physics PhD at Stony Brook University and conducting independent ML research. I also have several years of experience as an ML engineer developing production-grade systems.
  </p>
</BaseLayout>

